body {
    margin: 0;
}

.br {
    font-family: fantasy;
}

nav li {
    padding-top: 3px;
    font-family: fantasy;
}

.navbar-nav .open .dropdown-menu {
    background-color: aliceblue;
}

.fix {
    margin-top: 50px;
}

video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    /*拉到最上層*/
    transform: translateX(-50%) translateY(-50%);
    background-size:cover;
}

nav {
    color: azure border-radius: 0;
}



.collapse.in {
    opacity: 0.8;
}


.T_C{
    font-size: 1.6rem;
    padding: 10px;
    margin-top: 25px;
    color:cornsilk;
    background: rgba(0,0,0,0.3);
    border-radius: 10px;
}


h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

p>span:last-child{
    color:yellow;
}


img{
    border-radius: 40px;
    padding: 15px;
}

img:hover{
    opacity: 0.5;
}

.F_I{
    padding-top: 10px;
   
}

.data{
     font-size: 1.6rem;
    padding: 10px;
    margin-top: 25px;
    color:cornsilk;
    background: rgba(0,0,0,0.3);
    border-radius: 10px;
}

.input_fix{
    padding-bottom: 10px;
    color: black;
}