body {
    position: relative;
}

.br {
    font-family: fantasy;
}

nav li {
    padding-top: 3px;
    font-family: fantasy;
}

.navbar-nav .open .dropdown-menu {
    background-color: aliceblue;
}

.fix {
    margin-top: 50px;
}

#vedio0 {
    width: 100%;
    display: inline-block;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    /*拉到最上層*/
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}


nav {
    color: azure
    border-radius: 0;
}

@media (min-width: 1280px){
     video {
        top: 250px;
        position: absolute;
    }
}


@media (min-width: 1024px){
     video {
        top: 290px;
        position: absolute;
    }
}

@media (min-width: 959px) and (max-width: 1024px){
     video {
        top: 265px;
        position: absolute;
    }
    
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
    #content {
        margin-top: 54px;
    }
    video {
        top: 215px;
        position: absolute;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    video {
        top: 135px;
        position: absolute;
    }
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
    
    video {
        width: 100%;
        top: 70px;
        position: absolute;
    }
}

.collapse.in{
     opacity: 0.5;
}
